@model List<MvcMovie.Models.Relatorio>

@{
    ViewData["Title"] = "Index";
}

<h1>Relatorio</h1>

<p>
    <a asp-action="Create">Relatorio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                    
                </td>
                <td>

                </td>
            </tr>
      
    </tbody>
</table>
